---
layout: layouts/page.njk
eleventyComputed:
  page_lang: "en"
  permalink: "{{ translations[page_lang].navigation.blog.url }}"
  title: "{{ translations[page_lang].navigation.blog.title }}"
---

<div class="container">
  {% set postslist = collections.posts %} {% include "postslist.njk" %}
</div>
