---
permalink: /en/tags/
layout: layouts/page.njk
title: Tags
---

<div class="fs-4 container">
  {% for tag in collections.tagList %} {% set tagUrl %}/en/tags/{{ tag }}/{%
  endset %}
  <a href="{{ tagUrl | url }}" class="badge badge-secondary mr-2">{{ tag }}</a>
  {% endfor %}
</div>
