<div class="{{params.card_class}}">
  <div class="text-start">
    <i class="{{ params.icon }}" style="font-size: 4rem;"></i>
    <h3 class="card-title-font">{{ params.heading }}</h3>
    <p class="section-para-text text-left">{{ params.body }}</p>
  </div>
</div>