    <div class="col-sm-12 col-lg-4 col-xl-4 card border-0 pr-5">
      <i class="{{ params.icon }}" style="font-size: 3rem;"></i>
         <h2 class="card-title my-4">{{ params.heading }}</h2>
        <p class="my-5">{{ params.body }}
        </p>
    </div>