---
layout: layouts/post.njk
title: Blog
permalink: /artikler/
eleventyNavigation:
  key: Blog
  order: 4
---
<div class="my-4">
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
</div>