---
layout: layouts/post.njk
Title: Artikler
permalink: /artikler/
eleventyNavigation:
  key: Artikler
  order: 4
---
<h1>Artikler</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
