---
layout: layouts/home.njk
title: Webtilgængelighed, WCAG 2.1test og rådgivning
eleventyNavigation:
  key: Hjem
  order: 1
---
<div class="row justify-content-center">
<div class="col">
        <h1>Vi gør webtilgængelighed overskueligt</h1>
        <p>Inklusio ApS er en konsulentvirksomhed der rådgiver omkring digital inklusion og webtilgængelighed. Vi vil gerne være din sparringspartner fra opstart af proces til test af færdig løsning. </p>
        <p><a class="bg-primary btn-primary p-3 mt-auto rounded text-decoration-none" href="tel:+4526343455">Ring til os på +45&nbsp;26&nbsp;34&nbsp;34&nbsp;55</a></p>
        <p>Vi kan hjælpe med alt hvad der vedrører digital inklusion og webtilgængelighed:</p>
</div>
</div>

  <div class="container-fluid p-0">
    <div class="row gy-2">
      {% for post in collections.products %}
      <div class="col-12 col-md-6 col-lg-4 mb-5">
      <div class="card p-4 bg-white h-100">
        {% if post.data.title %}
        <h2 class="card-title">{{ post.data.title }}</h2>
        {% endif %}

        {% if post.data.summary %}
        <p class="card-text">{{ post.data.summary }}</p>
        {% endif %}
        <a href="{{ post.url | url }}" class="bg-primary btn-primary p-3 mt-auto rounded text-decoration-none">{{ post.data.cta }}</a>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>

<div class="row justify-content-center py-2">
<div class="col sm-6">
        <h2 class="pt-0">Aktuelt</h2>
        <div class="my-2">
        {% set postslist = collections.posts | head(-3) %}
        {% set postslistCounter = collections.posts | length %}
        {% include "postslist.njk" %}
        </div>
        <p>Du kan læse flere artikler på vores <a href="{{ '/artikler/' | url }}">blog</a>.</p>
		</div>
		</div>