---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
Title: Oversigt over nøgleord
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1>Nøgleord “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Se <a href="{{ '/tags/' | url }}">all tags</a>.</p>
