---
permalink: /tags/
layout: layouts/page.njk
title: Tags
---
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="badge badge-secondary mr-2">{{ tag }}</a>
{% endfor %}
