---
layout: layouts/page.njk
templateClass: tmpl-post
eleventyComputed:
  page_lang: "en"
  permalink: "{{ translations[page_lang].navigation.benefits.url }}"
  title: "{{ translations[page_lang].navigation.benefits.title }}"
---

<!-- Translation Data -->
{% set pageData = translations[page.lang].pages.benefits %}

<div class="row d-lg-none">
  <div class="col-12">
    <div class="rounded overflow-hidden">
      {% image "img/ydelser.jpg", pageData.section[0].img_alt, "400, 800" %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-12 col-lg-6 mt-2">
    {% for paragraph in pageData.section[0].paragraph %}
    <p class="text-left mt-2">
      {{ paragraph }}
    </p>
    {% endfor %}
  </div>
  <div class="d-none d-lg-block col-12 col-lg-6 mt-4">
    <div class="rounded overflow-hidden">
      {% image "img/ydelser.jpg", pageData.section[0].img_alt, "400, 800" %}
    </div>
  </div>
</div>

<div class="row mt-5 d-flex flex-wrap">
  {% for post in collections.products %}
  <div class="col-12 col-md-6 col-lg-4 mb-5">
    <div class="card p-4 bg-white h-100">
      {% if post.data.title %}
      <h2 class="card-title fs-2">{{ post.data.title }}</h2>
      {% endif %} {% if post.data.summary %}
      <p class="card-text">{{ post.data.summary }}</p>
      {% endif %}
      <a
        href="{{ post.url | url }}"
        class="btn btn-primary p-3 mt-auto rounded"
        >{{ post.data.cta }}</a
      >
    </div>
  </div>
  {% endfor %}
</div>
