<div class="card col-sm-12 col-md-4 col-xl-3 border-0 my-2 px-sm-2">
  <i class="{{ params.icon }}" style="font-size: 4rem;" alt=""></i>
  <div class="card-title fs-3 mt-1">{{ params.heading }}</div>
  <p class="section-para-text">{{ params.body }}</p>
</div>