<div class="card col-sm-12 col-md-4 col-xl-3 my-4 border-0">
  <i class="{{ params.icon }}" style="font-size: 3rem;"></i>
  <h3 class="card-title fs-2"{% if params.heading_level %} aria-level="{{ params.heading_level }}"{% endif %}>
    {{ params.heading }}
  </h3>
  <p>{{ params.body }}</p>
</div>