---
layout: layouts/page.njk
title: Sådan forstår du din tilgængelighedsrapport
templateClass: tmpl-contact
---
<div class="container">
  <div class="row">
    <div class="col">

<ul>
<li>Har I fået udarbejdet en tilgængelighedsrapport?
<li>Hvad har I brugt den til?
<li>Har I udarbejdet og prioriteret jeres indsatser på baggrund af rapporten?
</ul>
<p><a href="https://inklusio.dk">Inklusio</a> og <a href="https://inqludeit.dk">InqludeIT</a> Inviterer til webinar Hvor dufår gode råd til, hvordan du får mest muligt ud af din tilgængelighedsrapport.</p> 
<p>Måske har du svært ved at forstå indholdet i rapporten, måske har du derfor endnu ikke prioriteret de indsatser, rapporten peger på, eller du har endnu ikke udarbejdet en konkret handlingsplan på området.</p>
<p>Webinaret vil hjælpe dig til at forstå, hvor du kan finde mere information om alle de krav, der henvises til i tilgængelighedsrapporten, og du vil få konkrete tips til at omsætte ord til nytte og handling.</p>
<h2>Tid og sted</h2>
<p>Online-arrangementet foregår torsdag den 24. november 2022 klokken 10. Det varer 45 minutter, og du kan tilmelde dig ved at udfylde formularen på denne side.</p>
    </div>
  </div>

  <div class="row my-4">
    <div class="col">
<h2>Tilmeld dig webinaret</h2>
<form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-fi3ld">
        <div class="form-group">
          <label for="name">Dit navn:</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="email">Din Email:</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="phone">Dit telefonnummer:</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
		  <div class="hidden" aria-hidden="true">
		    <label>Don't fill this out if you're human:
		      <input name="bot-field"/>
		    </label>
        </div>
        <button type="submit" class="btn btn-primary">Tilmeld</button>
      </form>


    </div>
  </div>
