---
layout: layouts/page.njk
title: Test, rådgivning og workshops, webtilgængelighed - Ydelser
templateClass: tmpl-post
eleventyNavigation:
  key: Ydelser
  order: 2
---
<p>Digital tilgængelighed – vigtigt for mange, godt for alle.</p>
<p>Inklusio er eksperter i at sikre, at din organisation opfylder alle krav til digital tilgængelighed, og skaber bedre brugeroplevelser for alle. Vi tilbyder hjælp til ledere, redaktører, webmastere, designere og udviklere, der sidder i organisationer, virksomheder, styrelser og kommuner. Vi rådgiver om tilgængelighed til web og mobil. Vi gør tilgængelighed overskueligt og nemt - fra opstart af proces til test af færdig løsning.</p>
</div>
  <div class="container-fluid p-0">
    <div class="row gy-2">
      {% for post in collections.products %}
      <div class="col-12 col-md-6 col-lg-4 mb-5">
      <div class="card p-4 bg-white h-100">
        {% if post.data.title %}
        <h2 class="card-title">{{ post.data.title }}</h2>
        {% endif %}

        {% if post.data.summary %}
        <p class="card-text">{{ post.data.summary }}</p>
        {% endif %}
        <a href="{{ post.url | url }}" class="bg-primary btn-primary p-3 mt-auto rounded text-decoration-none">{{ post.data.cta }}</a>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
<div class="text-center">

<p>Vi laver ikke tingene for dig, vi laver dem med dig. På den måde lærer du og dit team hele tiden mere om tilgængelighed og digital inklusion, og vil på sigt selv kunne varetage flere af opgaverne uden hjælp udenfra eller med mindre behov for konsulenthjælp.</p>
</div>