<ul reversed style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="mb-3">
    <span role="heading" aria-level="3">
	    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    </span>
	  <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    <p class="m-0"><span class="sr-only">Tags til denne artikel: </span>{% for tag in post.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="badge badge-dark">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
    </li>
{% endfor %}
</ul>
