---
layout: layouts/page.njk
templateClass: tmpl-page

eleventyComputed:
  page_lang: "da"
  permalink: "persondata.html"
  title: "{{ translations[page_lang].keywords.privacy_policy }}"
---

<div class="row mb-5">
  <div class="col-12">
    <p>Dato for seneste opdatering: 30.10.2023</p>
    <h2>Virksomhed</h2>
    <p>
      Inklusio ApS<br>
      C.A. Olesens Gade 4, 9000 Aalborg<br>
      CVR-nr.: 41066784 
    </p>

    <h2>Hjemmeside</h2>

    <p>
      Vores hjemmeside er <a href="https://inklusio.dk">https://inklusio.dk</a>
    </p>

    <h2>Kontakt</h2>

    <p>
      Inklusio er dataansvarlig for dine personoplysninger.<br>
      Hvis du har spørgsmål til behandlingen af dine personoplysninger, kan du kontakte Inklusio på
    </p>

    <ul>
      <li>E-mail: ses@inklusio.dk</li>
      <li>Telefon: +45 26 34 34 55</li>
    </ul>

    <h2>Generelt</h2>

    <p>
      Denne persondatapolitik giver oplysninger om de personlige oplysninger, som Inklusio indsamler og behandler om jer, når I bruger vores hjemmeside, kommunikerer med os eller bestiller ydelser hos os.
    </p>

    <p>
      Vores ydelser er rettet mod private virksomheder og den offentlige sektor. De oplysninger, som vi behandler, er derfor primært om den virksomhed eller myndighed, som I repræsenterer.
    </p>

    <p>
      Kontakter du os som privatperson, vil vi behandle dine oplysninger i henhold til denne politik.<br>
      Persondatapolitikken gælder for personoplysninger, som du afgiver til os, eller som vi indsamler via vores hjemmeside eller andre kilder.
    </p>

    <h2>Kommunikation med potentielle kunder</h2>

    <p>
      Når du har spørgsmål til os eller ønsker at høre mere om vores services, behandler vi dine personoplysninger, så vi kan indgå i en dialog med dig, fx svare på spørgsmål om vores ydelser. Vi behandler kun den information, som du giver os i forbindelse med vores kommunikation.<br>
      Vi vil typisk behandle følgende almindelige oplysninger: navn, e-mail, telefonnummer og hvilken virksomhed, du repræsenterer.<br>
      Vi bruger også oplysningerne til at kontakte dig eller den virksomhed, som du repræsenterer, med information om samme eller tilsvarende ydelser, som vi vurderer, kan have din eller din virksomheds interesse.
    </p>

    <h2>Kunder</h2>

    <p>
      Vi har behov for at kommunikere med vores kunder, så vi sikrer os, at ydelsen leveres korrekt. Herigennem kan vi behandle oplysninger om navn, adresse, ydelser, særlige aftaler, betalingsinformationer og lignende.<br>
      Vi bruger også oplysningerne til at kontakte dig eller den virksomhed, som du repræsenterer, med information om samme eller tilsvarende ydelser, som vi vurderer, kan have din eller din virksomheds interesse.
    </p>

    <h2>Leverandører</h2>

    <p>
      Når du repræsenterer en leverandør, indsamler vi oplysninger om dit navn, e-mail, telefonnummer, hvilken virksomhed du repræsenterer, og andre oplysninger, som du selv vælger at give os, undtagen eventuelle følsomme oplysninger.<br>
      Formålet er, at vi kan kommunikere med dig, fx på mail og telefon, i forbindelse med opgaver, som du eller den virksomhed, som du repræsenterer, udfører for os som leverandør.
    </p>

    <h2>Besøg på hjemmeside</h2>

    <p>
      Når du besøger vores hjemmeside, anvender vi cookies af hensyn til funktionaliteten og for at optimere hjemmesiden for vores kunder. 
    </p>

    <h2>Nyhedsbrev</h2>

    <p>
      Vi har et nyhedsbrev, som det er frivilligt at tilmelde sig – og du kan altid framelde dig dette igen.<br>
      Formålet med nyhedsbrevet er at sende de tilmeldte mails med ny information fra virksomheden, som fx kan omhandle nyt indhold på hjemmesiden og annoncering af vores ydelser.<br>
      Vi vil kun sende dig nyhedsmails, hvis du har givet dit aktive samtykke til dette.
    </p>

    <h2>Kurser og webinarer</h2>

    <p>
      Når du tilmelder dig et kursus eller et webinar hos os, indsamler vi oplysninger om dit navn, e-mailadresse, telefonnummer og hvilken virksomhed, du repræsenterer. 
    </p>

    <h2>Bogføring</h2>

    <p>
      Vi skal gemme alle regnskabsbilag jf. bogføringsloven. Det betyder, at vi gemmer fakturaer og lignende bilag til brug for regnskabsføring. Heraf kan der fremgå almindelige personoplysninger som navn, adresse og ydelsesbeskrivelse.<br>
      Vi opbevarer disse oplysninger i minimum 5 år efter at indeværende regnskabsår er afsluttet.
    </p>

    <h2>Databehandlere</h2>

    <p>
      Få kan klare alt selv, og det samme gælder os. Derfor har vi samarbejdspartnere, og benytter os af leverandører, hvoraf nogle kan være databehandlere.<br>
      Eksterne leverandører kan eksempelvis levere systemer til at organisere vores arbejde, services, rådgivning, IT-hosting eller markedsføring.<br>
      Det er vores ansvar at sikre, at dine personoplysninger behandles ordentligt. Derfor stiller vi høje krav til vores samarbejdspartnere, og vores partnere skal garantere, at dine personoplysninger er beskyttet.<br>
      Vi indgår derfor aftaler herom med virksomheder (databehandlere), der håndterer personoplysninger på vores vegne, for at højne sikkerheden af dine personoplysninger.
    </p>

    <h2>Videregivelse af personoplysninger</h2>

    <p>
      Vi videregiver ikke dine personoplysninger til tredjemand.
    </h2>

    <h2>Profilering og automatiserede afgørelser</h2>

    <p>
      Vi foretager ikke profilering eller automatiserede afgørelser.
    </p>

    <h2>Sikring af dine data</h2>

    <p>
      Inklusio vil tage tekniske og organisatoriske forholdsregler for at forhindre tab, misbrug eller ændring af dine personlige oplysninger. Inklusio gemmer alle de personlige oplysninger, du giver, på sikker infrastruktur.
    </p>

    <h2>Sletning af dine data</h2>

    <p>
      Vi sletter dine personoplysninger, når indsamling, behandling og opbevaring af dine data ikke længere er nødvendigt.
    </p>

    <h2>Opdatering af denne persondatapolitik</h2>

    <p>
      Inklusio ApS kan opdatere denne persondatapolitik ved at offentliggøre en ny version på vores hjemmeside. Du bør tjekke vores side af og til for at sikre, at du er bekendt med eventuelle ændringer.
    </p>

    <h2>Klage til Datatilsynet</h2>

    <p>
      Du har ret til at indgive en klage til Datatilsynet, hvis du er utilfreds med den måde, som vi behandler dine personoplysninger på. Du finder Datatilsynets kontaktoplysninger på www.datatilsynet.dk.
    </p>

  </div>
</div>