---
layout: layouts/page.njk
templateClass: tmpl-page

eleventyComputed:
  page_lang: "da"
  permalink: "forretningsbetingelser.html"
  title: "{{ translations[page_lang].keywords.conditions }}"
---

<div class="row mb-5">
  <div class="col-12">
      <p><em>Dato for seneste opdatering: 11.04.2024</em><br /></p>
      <p<strong>Inklusio ApS er organiseret som et anpartsselskab (ApS) med CVR nr. 41066784 og har hjemsted i Aalborg. </strong></p>
      <p><strong>Disse forretningsbetingelser gælder for enhver opgave, som Inklusio ApS (herefter ”Inklusio”) udfører, medmindre andet er aftalt skriftligt.</strong></p>
    <h2>1. Tilbud og bestilling</h2>
      <p><strong>1.1</strong> Tilbud fra Inklusio er gældende i 30 dage fra den dato, tilbuddet er dateret, medmindre andet fremgår af tilbuddet.</p>
      <p><strong>1.2</strong> Tilbud og efterfølgende bestilling er først endelig, når køber har modtaget en ordrebekræftelse. </p>
      <p><strong>1.3</strong> Betingelserne udgør sammen med Inklusios tilbud og ordrebekræftelser det samlede aftalegrundlag om Inklusios salg og levering af serviceydelser til kunden. Kundens indkøbsbetingelser trykt på ordrer eller på anden måde meddelt til Inklusio udgør ikke en del af aftalegrundlaget.</p>
      <p><strong>1.4</strong> Ændringer af og tillæg til aftalegrundlaget er kun gældende, hvis parterne har aftalt dem skriftligt.</p>
    <h2>2. Priser og betalingsbetingelser</h2>
      <p><strong>2.1</strong> Hvis andet ikke er aftalt, fremsendes faktura ved opgavens eller delopgaves afslutning. Inklusio forbeholder sig retten til undervejs i processen at acontofakturere, hvis det skønnes hensigtsmæssigt. </p>
      <p><strong>2.2</strong> Betalingsbetingelserne er 14 dage fra fakturadato, medmindre andet er aftalt. Ved for sen betaling tilskrives der renter på 0,70%, pr. påbegyndt måned, samt et gebyr på 100,00 DKK pr. eventuel rykkerskrivelse.</p>
      <p><strong>2.3</strong> Inklusio har ret til omgående at fremsætte krav om betaling af forfaldne og uforfaldne tilgodehavender hos kunden, at overgive tilgodehavender til retslig inkasso samt at stoppe alle leverancer, såfremt betalinger udestår.</p>
      <p><strong>2.4</strong> Udover den tilbudte eller aftalte pris, er Inklusio berettiget til at kræve betaling for:</p>
      <ul>
        <li>Ekstra arbejde, der påløber som følge af ufuldstændigt, uegnet eller mangelfuldt materiale leveret af kunden samt ændringer i briefing efter igangsættelse.</li>
        <li>Overarbejde eller andre foranstaltninger, der aftales med kunden efter aftalens indgåelse.</li>
        <li>Ekstra omkostninger som følge af ændringer i afgifter og lignende.</li>
        <li>Ekstra omkostninger som følge af ekstraordinære prisstigninger på materialer og lignende, der anvendes til den aftalte opgave.</li>
      </ul>
      <p><strong>2.5</strong> Anerkender kunden ikke en faktura, er kunden forpligtet til senest 5 dage efter modtagelsen af fakturaen at reklamere skriftligt.</p>
    <h2 id="leveringstider">3. Leveringstider</h2>
      <p><strong>3.1</strong> Inklusio bestræber sig på, at mindre opgaver på under en dags varighed kan bookes inden for 1-2 uger, mens større opgaver af flere dages varighed kan bookes inden for 2-3 uger. I spidsbelastningsperioder kan der dog være længere ventetid.</p>
      <p><strong>3.2</strong> For rammeaftaler og klippekort, hvor Inklusio yder fast konsulentbistand, kan der laves en aftale om et fast afsat timeantal, enten dagligt/ugentligt/månedligt eller i bestemte perioder. Hvis en sådan aftale ikke foreligger, må de normale leveringstider forventes at gælde.</p>
    <h2>4. Opgaven</h2>
      <p><strong>4.1</strong> Kunden er ansvarlig for, at Inklusio rettidigt og forud for opgavens opstart modtager en opgavebeskrivelse med de nødvendige forudsætninger, informationer og data.</p>
      <p><strong>4.2</strong> Når Inklusio modtager en opgave, aftales omfang heraf med kunden, hvorefter det kan justeres løbende efter behov.</p>
      <p><strong>4.3</strong> En opgave indeholder som udgangspunkt 1. korrektur og efterfølgende rettelser. Inklusios 2. korrektur er således ekstra arbejde, som faktureres særskilt, med mindre andet er skriftligt aftalt.</p>
      <p><strong>4.4</strong> Mangelfuld levering, fejlagtige informationer eller ændrede forudsætninger fra kunden kan medføre ekstra betaling.</p>
      <p><strong>4.5</strong> Hvis kunden ikke rettidigt leverer alle nødvendige forudsætninger, informationer og data, kan Inklusio ikke garantere rettidigt levering eller drages til ansvar for, at det aftalte leveringstidspunkt ikke overholdes.</p>
      <p><strong>4.6</strong> Inklusio forbeholder sig retten til at benytte sig af underleverandører. Eventuelle underleverandører er underlagt Inklusios forretningsbetingelser på lige fod med Inklusio.</p>
      <p><strong>4.7</strong> Almindeligvis opbevares kopi af det færdige ydelse/materiale i 2 år efter leveringen, dog kun ½ år efter samarbejdets ophør. Inklusio udleverer en kopi på anmodning, forudsat af der ikke er forfaldne krav mod kunden. Kunden betaler tidsforbrug og omkostningerne forbundet hermed.</p>
    <h2>5. Annullering eller udskydelse</h2>
      <p><strong>5.1</strong> Ønsker kunden at annullere en opgave efter igangsættelse, er kunden forpligtet til at betale for alt udført arbejde.</p>
      <p><strong>5.2</strong> Hvis kunden aflyser eller udskyder en aftale om konsulentbistand mindre end 5 arbejdsdage før den aftalte dato, betales 50 % af det aftalte honorar. Hvis kunden aflyser eller udskyder mindre end 1 arbejdsdag før den aftalte dato, betales det fulde honorar.</p>
      <p><strong>5.3</strong> Eventuelle omkostninger forbundet med aflysningen betales af kunden, herunder bl.a. forpligtelser vedr. den planlagte produktion, som Inklusio eller dennes underleverandører hæfter for.</p>
      <p><strong>5.4</strong> Begge parter  forpligter sig til at begrænse omkostningerne i forbindelse med en annullering eller udskydelse.</p>
      <p><strong>5.5</strong> Hvis kunden udskyder en opgave, skal en ny startdato for opgaven aftales mellem kunden og Inklusio. I dette tilfælde må de normale <a href="#leveringstider">leveringstider</a> forventes at gælde.</p>
      <p><strong>5.6</strong> Hvis aftalte opgaver udskydes i mere end 1 år fra den oprindelige aftale, forbeholder Inklusio sig retten til at anse opgaven for annulleret. </p>
      <p><strong>5.7</strong> For klippekort til rådgivningstimer er gyldigheden 1 år fra købstidspunkt. Timer, der ikke er brugt efter 1 år, bortfalder, medmindre andet aftales.</p>
    <h2>6. Mangler og reklamation</h2>
      <p><strong>6.1</strong> Reklamation skal ske skriftligt og senest 5 arbejdsdage efter, at levering af en ydelse eller delydelse har fundet sted. For mangler, som ikke kan opdages ved omhyggelig undersøgelse, skal reklamation ske senest 5 arbejdsdage efter, at fejlen/manglen ved almindelig agtpågivenhed kunne være opdaget.</p>
      <p><strong>6.2</strong> For fejl og mangler, hvor der måtte blive reklameret efter fristens udløb, kan Inklusio ikke drages til ansvar.</p>
    <h2>7. Ansvar, ansvarsbegrænsning og forsikring</h2>
      <p><strong>7.1</strong> Ved kundens godkendelse af det af Inklusio udførte arbejde, afskærer kunden sig fra efterfølgende at gøre et erstatningsansvar gældende mod Inklusio.</p>
      <p><strong>7.2</strong> Inklusio er ikke ansvarlig for forsinkelser, der ikke kan tilskrives Inklusio, f.eks. ekstraordinære forsinkelser hos eksterne leverandører eller andre forsinkelser som følge af ekstraordinære omstændigheder eller force majeure, såsom usædvanlige naturforhold, krig, terror, brand, oversvømmelse, hærværk og arbejdsstridigheder.</p>
      <p><strong>7.3</strong> Inklusios ansvar omfatter ikke ansvar for indirekte tab eller driftstab, herunder tab af data, tabt indtjening, tab af goodwill, tab som følge af forsinkelse eller af omdømme eller andre former for indirekte tab.</p>

    <h2>8. Ophavsret og markedsføring</h2>
      <p><strong>8.1</strong> Såfremt intet andet er aftalt, får kunden, betinget af betaling, brugsretten til det udarbejdede materiale.</p>
      <p><strong>8.2</strong> Inklusio og dertilhørende underleverandører kan, medmindre andet er aftalt, gøre brug af kundens kendetegn og leverede ydelser som led i egen markedsføring, forudsat at det sker loyalt og under iagttagelse af fortrolighedsforpligtelsen. Kunden skal informere Inklusio, såfremt Inklusio ikke må anvende kundens kendetegn og leverede ydelser.</p>
    <h2>9. Behandling af personoplysninger</h2>
      <p><strong>9.1</strong> Inklusio behandler personoplysninger i forbindelse med udførelse af opgaver, og er i den forbindelse dataansvarlig for den pågældende behandling. Spørgsmål vedrørende vores databehandling samt indsigts- og sletteanmodninger kan sendes til vores interne persondatakoordinator på ses@inklusio.dk. For nærmere information om vores håndtering af persondata henvises til Inklusios privatlivspolitik, som kan læses på Inklusios hjemmeside. </p>
    <h2>10. Fortrolighed</h2>
      <p><strong>10.1</strong> Parterne forpligter sig til under og efter et samarbejde at behandle viden om hinanden fortroligt.</p>
      <p><strong>10.2</strong> Inklusio og dertilhørende underleverandører er forpligtet til at behandle alle oplysninger i relation til opgaven og kunden fortroligt. </p>
    <h2>11. Gældende lov og værneting</h2>
      <p><strong>11.1</strong> Eventuelle tvister mellem Inklusio og en kunde er underlagt dansk lovgivning og danske domstoles kompetence.</p>
      <br />
      <p><strong>April 2024<br />
      Inklusio ApS</strong></p>

  </div>
</div>
