---
layout: layouts/page.njk
title: Tilmeld nyhedsbrev
templateClass: tmpl-more
---
<div class="container py-5">
  <div class="row align-items-left">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
 
<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "eu1",
    portalId: "143143285",
    formId: "96830f42-01a8-4c42-970b-f922107ca30d"
  });
</script>

  </div>
</div>
</div>
