<div class="col-sm-12 col-lg-4 col-xl-4 card border-0 pr-5">
  <h3>
    <span class="card-title-number">{{ params.number }}</span>
    <br>
    <span class="card-title-font">{{ params.heading }}</span>
  </h3>
  <p class="section-para-text text-left">{{ params.body }}</p>
</div>