<div class="card border-0 col-12 col-md-4 my-4 pr-md-5">
  <h3 {% if params.heading_level %} aria-level="{{ params.heading_level }}"{% endif %}>
    <span class="card-title-number">{{ params.number }}</span>
    <br>
    <span class="card-title-font">{{ params.heading }}</span>
  </h3>
  <p class="section-para-text mb-0 text-left">{{ params.body }}</p>
</div>