---
layout: layouts/page.njk
title: Kontakt os
templateClass: tmpl-contact
eleventyNavigation:
  key: Kontakt os
  order: 6
---
<p>Vi står klar til at hjælpe dig med webtilgængelighed og digital inklusion.</p>
<p>Intet problem er for lille, men vi klarer også de store projekter. Har vi ikke selv ressourcene i vores lille virksomhed har vi et stort netværk af samarbejdspartnere som vi kan trække på.</p>
<p>Vi har kontor i Aalborg, og konsulenter i både Jylland og Københavnsområdet.</p>

<h2>Kontakt os meget gerne</h2>

<p>Hvis du har spørgsmål, ønsker et et tilbud eller gerne vil booke et uforpligtende møde, er du velkommen til at kontakte os.</p>

<a href="https://calendly.com/inklusio-ses/1-1" class="btn btn-primary">Book et møde</a>


<p>Eller kontakt os direkte:</p>
<ul>
	<li>Ring til <a href="tel:+4526343455">+45 26 34 34 55</a></li>
	<li> Send en mail til <a href="mailto:info@inklusio.dk">ses@inklusio.dk</a></li>
</ul>

<h2>Adresse</h2>

<p>Du kan besøge os på:</p>

<p>Fredrik Bajers Vej 300<br>
9220 Aalborg Ø</p>

<p>Vi har også mulighed for at mødes i Københavnsområdet.</p>

<h2>Følg os</h2>

<p><a href="https://www.linkedin.com/company/inklusio/" target="_blank">Følg Inklusio på LinkedIn</a> for tips og opdateringer om webtilgængelighed</p>
