---
layout: layouts/page.njk
title: Kontakt os
templateClass: tmpl-contact
eleventyNavigation:
  key: Kontakt os
  order: 6
---
<p>Vi står klar til at hjælpe dig med webtilgængelighed og digital inklusion.</p>
<p>Intet problem er for lille, men vi klarer også de store projekter. Har vi ikke selv ressourcene i vores lille virksomhed har vi et stort netværk af samarbejdspartnere som vi kan trække på.</p>
<p>Vi har kontor i Aalborg, og konsulenter i både Jylland og Københavnsområdet.</p>

## Kontakt os allerede nu

<p>Hvis du har spørgsmål, vil have et tilbud eller ønsker at booke et uforpligtende møde, er du velkommen til at kontakte os.</p>

<a href="https://calendly.com/inklusio-ses/1-1" class="btn btn-primary">Book et møde</a>

<p>Du kan kontakte os på flere måder:</p>
<ul>
	<li>Ring til <a href="tel:+4526343455">+45 26 34 34 55</a></li>
	<li> Send en mail til <a href="mailto:info@inklusio.dk">ses@inklusio.dk</a></li>
</ul>

## Adresse

Du kan besøge os på:

Fredrik Bajers Vej 300
9220 Aalborg Ø

Vi har også mulighed for at mødes i Københavnsområdet.

## Følg os

[Følg os på LinkedIn](https://www.linkedin.com/company/inklusio/) for tips og opdateringer om webtilgængelighed.
