---
layout: layouts/page.njk
templateClass: tmpl-post
eleventyComputed:
  page_lang: "sv"
  permalink: "{{ translations[page_lang].navigation.benefits.url }}"
  title: "{{ translations[page_lang].navigation.benefits.title }}"
---

<!-- Translation Data -->
{% set pageData = translations[page.lang].pages.benefits %}

<div class="container">
  <div
    class="container d-flex flex-row align-items-center justify-content-between"
  >
    <div class="d-flex flex-column">
      <div class="d-lg-none rounded overflow-hidden">
        {% image "img/ydelser.jpg", "", "400, 800, 1200"%}
      </div>
      <div class="d-flex flex-column mt-2">
        {% for paragraph in pageData.section[0].paragraph %}
        <p class="text-left mt-2">
          {{ paragraph }}
        </p>
        {% endfor %}
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-6 col-xl-5 rounded overflow-hidden">
      {% image "img/ydelser.jpg", "", "400, 800, 1200"%}
    </div>
  </div>
</div>
<div class="container pt-5">
  <div class="d-flex flex-wrap">
    {% for post in collections.sv_products %}
    <div class="col-12 col-md-6 col-lg-4 mb-5">
      <div class="card p-4 bg-white h-100">
        {% if post.data.title %}
        <h2 class="card-title">{{ post.data.title }}</h2>
        {% endif %} {% if post.data.summary %}
        <p class="card-text">{{ post.data.summary }}</p>
        {% endif %}
        <a
          href="{{ post.url | url }}"
          class="bg-primary btn-primary p-3 mt-auto rounded text-decoration-none"
          >{{ post.data.cta }}</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>
