---
layout: layouts/page.njk
title: Tilbud på klippekort
templateClass: tmpl-contact
---
<div class="container">
  <div class="row">
    <div class="col">
<p>
Velkommen til vores klippekort kampagne for tilgængelighedstjenester! Få adgang til vores eksperter i tilgængelighed uden at skulle igennem en kompliceret indkøbsproces hver gang. M
</p>
<p>
ed vores klippekort produkter kan du få fleksibilitet og sikkerhed i, at du altid vil have adgang til den hjælp og de ressourcer, du har brug for.
</p>
<p>
Vores klippekort kampagne løber  indtil den 25. februar 2023. Bestil og betal dine klippekort inden kampagnen udløber for at drage fordel af vores eksperter i tilgængelighedstjenester.
</p>
<p>
Vores klippekort kommer i forskellige størrelser, så du kan vælge den, der passer bedst til dit behov. Vi tilbyder klippekort på 10 timer, 25 timer, 50 timer og 100 timer, så du kan vælge den mængde, der passer bedst til dit budget og dine behov.
</p>
<p>
Vores tilgængelighedstjenester inkluderer tilgængelighedstest, tilgængelighedsrapporter, træning og rådgivning omkring tilgængelighedsstandarder og retningslinjer.
For at bestille dine klippekort, bedes du kontakte os direkte på ses@inklusio.dk eller ringe til os på telefonnummeret 26343455.
</p>
<p>
Vores klippekort er tilgængelige til følgende priser:
<ul>
<li10 timer - 11.000 DKK
<li>25 timer - 25.000 DKK
<li>50 timer - 40.000 DKK
<li>100 timer - 75.000 DKK
</ul>
<p>
Dette er en unik mulighed for at få adgang til vores tilgængelighedstjenester med betydelige besparelser. Tøv ikke med at kontakte os for at bestille dine klippekort inden kampagnen udløber. Vi ser frem til at hjælpe dig med dine tilgængelighedsbehov!
</p>
<h2>Bestil klippekort her</h2>
<form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-fi3ld">
  <div class="form-group">
    <label for="name">Dit navn:</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="form-group">
    <label for="email">Din Email:</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="form-group">
    <label for="phone">Dit telefonnummer:</label>
    <input type="tel" class="form-control" id="phone" name="phone">
  </div>
  <div class="form-group">
    <label for="company">Virksomhed:</label>
    <input type="text" class="form-control" id="company" name="company">
  </div>
  <div class="form-group">
    <label for="cvr">CVR-nummer:</label>
    <input type="text" class="form-control" id="cvr" name="cvr">
  </div>
  <div class="hidden" aria-hidden="true">
    <label>Don't fill this out if you're human:
      <input name="bot-field"/>
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Tilmeld</button>
</form>

    </div>
  </div>
