---
layout: layouts/base.njk
eleventyComputed:
  page_lang: "da"
  permalink: "{{ translations[page_lang].navigation.learn_more.url }}"
  title: "{{ translations[page_lang].navigation.learn_more.title }}"

templateClass: tmpl-more
---

<!-- Translation Data -->
{% set pageData = translations[page.lang].pages.learn_more %}

<!-- Imports -->
{%- from "components/iconcard/macro.njk" import iconcard -%} {%- from
"components/numbercard/macro.njk" import numbercard -%} {%- from
"components/iconheadingcard/macro.njk" import iconheadingcard -%}

<!-- Sektion 1 p/img -->
<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-lg-7">
      <h1 class="section-header-text">
        {{ pageData.section[0].heading }}
      </h1>
      <p class="section-para-text text-left">
        {{ pageData.section[0].paragraph[0] }}
      </p>
      <div class="d-lg-none py-2">
        {% image "img/diverse-group-drawing.jpg", pageData.section[0].img_alt, "400, 800, 1200" %}
      </div>
      <p class="section-para-text text-left">
        {{ pageData.section[0].paragraph[1] }}
      </p>
    </div>

    <div class="d-none d-lg-flex col-5 pl-5 vertical-align">
      {% image "img/diverse-group-drawing.jpg", pageData.section[0].img_alt, "400, 800, 1200" %}
    </div>
  </div>
</div>

<!-- Sektion 2 img/p  -->
<div class="container">
  <div class="row d-lg-flex flex-row align-items-center justify-content-between my-5">
    <div class="col-8 col-md-6 col-lg-4 pb-3 pr-md-5 mx-auto mx-lg-0">
      <div class="rounded overflow-hidden">
        {% image "img/accessibility-icon.jpg", pageData.section[1].img_alt, "400, 800, 1200" %}
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <h2 class="section-header-text">
        {{ pageData.section[1].heading }}
      </h2>
      <p class="section-para-text text-left">
        {{ pageData.section[1].paragraph }}
      </p>
    </div>
  </div>
</div>

<!-- Sektion 3 Gode grunde til at arbejde med webtilgængelighed-->
<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="section-header-text">{{ pageData.section[2].heading }}</h2>
    </div>
  </div>
  <div class="row mb-5">
    {{
      numbercard({
        number: "1",
        heading: pageData.section[2].card[0].heading,
        body: pageData.section[2].card[0].paragraph
      })
    }}
    {{
      numbercard({
        number: "2",
        heading: pageData.section[2].card[1].heading,
        body: pageData.section[2].card[1].paragraph
      })
    }}
    {{
      numbercard({
        number: "3",
        heading: pageData.section[2].card[2].heading,
        body: pageData.section[2].card[2].paragraph
      })
    }}
    {{
      numbercard({
        number: "4",
        heading: pageData.section[2].card[3].heading,
        body: pageData.section[2].card[3].paragraph
      })
    }}
    {{
      numbercard({
        number: "5",
        heading: pageData.section[2].card[4].heading,
        body: pageData.section[2].card[4].paragraph
      })
    }}
    {{
      numbercard({
        number: "6",
        heading: pageData.section[2].card[5].heading,
        body: pageData.section[2].card[5].paragraph
      })
    }}
  </div>
</div>

<!-- Sektion 4 img/p Vi er førende i DK -->
<div class="container">
  <div class="row d-flex flex-row align-items-center justify-content-between my-5">
    <div class="pr-4 col-12 col-lg-6">
      <h2 class="section-header-text">
        {{ pageData.section[3].heading }}
      </h2>
      <div class="d-lg-none pb-3">
        <div class="rounded overflow-hidden">
          {% image "img/SE.jpg", pageData.section[3].img_alt, "400, 800, 1200" %}
        </div>
      </div>
      <p class="section-para-text text-left">
        {{ pageData.section[3].paragraph }}
      </p>
    </div>
    <div class="d-none d-lg-block col-5">
      <div class="rounded overflow-hidden">
        {% image "img/SE.jpg", pageData.section[3].img_alt, "400, 800, 1200" %}
      </div>
    </div>
  </div>
</div>

<!-- Sektion 5 Vi leverer-->
<div class="container my-5">
  <h2 class="fullwidth-lg section-header-text mb-0">
    {{ pageData.section[4].heading }}
  </h2>
  <div class="d-flex flex-row flex-wrap justify-content-between">
    {{
      iconheadingcard({
        icon: "bi bi-easel",
        heading: pageData.section[4].card[0].heading,
        body: pageData.section[4].card[0].paragraph
      })
    }}

    {{
      iconheadingcard({
        icon: "bi bi-list-check",
        heading: pageData.section[4].card[1].heading,
        body: pageData.section[4].card[0].paragraph
      })
    }}

    {{
      iconheadingcard({
        icon: "bi bi-pencil-square",
        heading: pageData.section[4].card[2].heading,
        body: pageData.section[4].card[0].paragraph
      })
    }}
  </div>
  <!--card-group -->

  <div class="d-flex flex-row flex-wrap justify-content-between">
    {{
      iconheadingcard({
        icon: "bi bi-people",
        heading: pageData.section[4].card[3].heading,
        body: pageData.section[4].card[3].paragraph
      })
    }}

    {{
      iconheadingcard({
        icon: "bi bi-shield-check",
        heading: pageData.section[4].card[4].heading,
        body: pageData.section[4].card[4].paragraph
      })
    }}

    {{
      iconheadingcard({
        icon: "bi bi-calendar-event",
        heading: pageData.section[4].card[5].heading,
        body: pageData.section[4].card[5].paragraph
      })
    }}
  </div>
  <!--card-group -->
</div>
<!--container -->

<!-- Sektion 6 img/p Hvad laver vi  -->
<div class="container">
  <div class="row d-flex flex-row align-items-center justify-content-between my-5">
    <div class="pr-4 col-12 col-lg-6">
      <h2 class="section-header-text">
        {{ pageData.section[5].heading }}
      </h2>
      <div class="d-lg-none pb-3">
        <div class="rounded overflow-hidden">
          {% image "img/DR.jpeg", pageData.section[5].img_alt, "400, 800, 1200" %}
        </div>
      </div>
      <p class="section-para-text text-left">
        {{ pageData.section[5].paragraph }}
      </p>
    </div>
    <div class="d-none d-lg-block col-5">
      <div class="rounded overflow-hidden">
        {% image "img/DR.jpeg", pageData.section[5].img_alt, "400, 800, 1200" %}
      </div>
    </div>
  </div>
</div>

<!-- Sektion 7 Tilgængelighed giver et hav af fordele -->
<div class="container my-5">
  <h2 class="fullwidth-sm section-header-text mb-0">
    {{ pageData.section[6].heading }}
  </h2>
  <div class="d-flex flex-row flex-wrap justify-content-between">
    {{
      iconcard({
        card_class:
          "card col-sm-12 col-md-4 col-xl-3 border-0 my-2 pr-md-4 pr-xl-0 px-1",
        icon: "bi bi-people",
        heading: pageData.section[6].card[0].heading,
        body: pageData.section[6].card[0].paragraph
      })
    }}

    {{
      iconcard({
        card_class:
          "card col-sm-12 col-md-4 col-xl-3 border-0 my-2 pr-md-4 pr-xl-0 px-1",
        icon: "bi bi-person-check",
        heading: pageData.section[6].card[1].heading,
        body: pageData.section[6].card[1].paragraph
      })
    }}

    {{
      iconcard({
        card_class:
          "card col-sm-12 col-md-4 col-xl-3 border-0 my-2 pr-md-4 pr-xl-0 px-1",
        icon: "bi bi-book",
        heading: pageData.section[6].card[2].heading,
        body: pageData.section[6].card[2].paragraph
      })
    }}
  </div>

  <div class="d-flex flex-row flex-wrap justify-content-between">
    {{
      iconcard({
        card_class:
          "card col-sm-12 col-md-4 col-xl-3 border-0 my-2 pr-md-4 pr-xl-0 px-1",
        icon: "bi bi-google",
        heading: pageData.section[6].card[3].heading,
        body: pageData.section[6].card[3].paragraph
      })
    }}

    {{
      iconcard({
        card_class:
          "card col-sm-12 col-md-4 col-xl-3 border-0 my-2 pr-md-4 pr-xl-0 px-1",
        icon: "bi bi-megaphone",
        heading: pageData.section[6].card[4].heading,
        body: pageData.section[6].card[4].paragraph
      })
    }}

    {{
      iconcard({
        card_class:
          "card col-sm-12 col-md-4 col-xl-3 border-0 my-2 pr-md-4 pr-xl-4 px-1",
        icon: "bi bi-arrow-up-circle",
        heading: pageData.section[6].card[5].heading,
        body: pageData.section[6].card[5].paragraph
      })
    }}
  </div>
</div>

<!-- Sektion 8 Hvad siger loven p/img -->
<div class="container">
  <div class="row d-flex flex-row align-items-center justify-content-between my-5">
    <div class="d-none d-lg-flex col-5">
      <div class="rounded overflow-hidden">
        {% image "img/Section7Image.png", pageData.section[7].img_alt, "400, 800, 1200" %}
      </div>
    </div>
    <div class="pr-4 col-6">
      <h2 class="section-header-text">
        {{ pageData.section[7].heading }}
      </h2>

      <div class="d-lg-none pr-5">
        <div class="rounded overflow-hidden">
          {% image "img/Section7Image.png", pageData.section[7].img_alt, "400, 800, 1200" %}
        </div>
      </div>

      <p class="section-para-text text-left">
        {{ pageData.section[7].paragraph[0] }}
      </p>
      <p class="section-para-text text-left">
        {{ pageData.section[7].paragraph[1] }}
      </p>
    </div>
  </div>
</div>

<!-- Sektion 9 p/img -->
<div class="container my-5 mt-lg-n4">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <div class="col-xl-6 mr-xl-5 px-1">
      <h2 class="section-header-text">
        {{ pageData.section[8].heading }}
      </h2>
      <div class="d-lg-none col-8 col-md-6 mx-auto pb-3">
        <div class="rounded overflow-hidden">
          {% image "img/people-group-drawing.jpg", pageData.section[8].img_alt, "400, 800, 1200" %}
        </div>
      </div>
      <p class="section-para-text text-left">
        {{ pageData.section[8].paragraph }}
      </p>
    </div>
    <div class="d-none d-lg-block col-lg-4 pr-xl-5">
      <div class="rounded overflow-hidden">
        {% image "img/people-group-drawing.jpg", pageData.section[8].img_alt, "400, 800, 1200" %}
      </div>
    </div>
  </div>
</div>

<!-- Sektion 8 Hvad siger loven p/img -->
<div class="container my-5 mt-lg-n5">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <div class="d-none d-lg-block col-lg-5 pr-5">
      {% image "img/eye-ear-mouth.jpg", pageData.section[9].img_alt, "400,
      800, 1200" %}
    </div>
    <div class="col-xl-6">
      <div>
        <h2 class="section-header-text">
          {{ pageData.section[9].heading }}
        </h2>
      </div>
      <div class="d-lg-none col-8 col-md-6 mx-auto">
        {% image "img/eye-ear-mouth.jpg", pageData.section[9].img_alt,
        "400, 800, 1200" %}
      </div>
      <p class="section-para-text text-left">
        {{ pageData.section[9].paragraph }}
      </p>
    </div>
  </div>
</div>
