---
layout: layouts/base.njk
title: Lær mere
templateClass: tmpl-more
eleventyNavigation:
  key: Lær mere
  order: 2
---
<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

<!--Sektion 1 p/img -->
<div class="container py-5">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-7">
      <h2>Webtilgængelighed og brugeroplevelse er to sider af samme mønt</h2>
      <p>Webtilgængelighed handler om, at alle skal kunne anvende websteder og mobilapplikationer uanset sin forudsætning for det.
        Det vil sige, at hvis du har, blandt andet, permanent nedsat hørelse, eller hvis du har brækket en arm, skal du stadig kunne benytte hjemmesider og apps.</p>
      <p>Op mod hver 5. bruger i Danmark har en form for handicap, som påvirker den måde de bruger internettet, og tallet bliver kun større, 
        når man medregner personer der oplever midlertidige funktionsnedsættelser, som en midlertidig kognitiv begrænsning grundet en hjernerystelse eller midlertidig nedsat syn grundet en operation, mm. Ved at være tilgængelig s
        ikrer man at alle kan navigere på internettet selvstændigt og ubesværet.</p>
    </div>
    <div class="col-md-5 px-5">
      <img src="/img/diverse-group-drawing.jpg" class="img-fluid" alt="Billede af Anne, Katrine og Stein Erik ved en computer">
    </div>
  </div>
</div>

<!--Sektion 2 img/p  -->
<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-5 pr-5">
      <img src="/img/accessibility-icon.jpg" class="img-fluid" alt="Billede af Anne, Katrine og Stein Erik ved en computer">
    </div>
    <div class="col-md-7">
      <h2>Hvorfor er webtilgængelighed vigtigt?</h2>
      <p>World Health Organisation (WHO) har estimeret at omkring 20% af befolkningen har en form for handicap eller funktionsnedsættelse. For de 20% kan internettet ofte føles som ufremkommeligt terræn, eftersom mange hjemmesider er utilgængelige.Når din hjemmeside er tilgængelig, sørger du for at dit firmas digitale dør er åben for alle dine potentielle brugere og kunder. </p>
    </div>
  </div>
</div>

<!--Sektion 3 Gode grunde til at arbejde med webtilgængelighed-->
<div class="container py-5">
  <h2 class="fullwidth">Gode grunde til at arbejde med webtilgængelighed</h2>
  <div class="row">
    <div class="col-sm-12 col-lg-4 card border-0">
      <div class="card-body">
        <h3>
          <span class="card-title-number">1</span>
          <br>
          <span class="card-title-font">I arbejder med e-handel</span>
        </h3>
        <p class="my-4">Hvis jeres firma beskæftiger sig med E-handel,  kan I være  omfattet af den europæiske lov om tilgængelighed, der træder i kraft den 28. juni 2025.</p>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 card border-0">
      <div class="card-body">
        <h3>
          <span class="card-title-number">2</span>
          <br>
          <span class="card-title-font">Jeres målgruppe er 60+</span>
        </h3>
        <p class="my-4">92% af den danske befolkning over 60 år bruger briller. Denne målgruppe vil ofte opleve problemer med hjemmesider, der har små tekststørrelser og dårlig kontrast.</p>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 card border-0">
      <div class="card-body">
        <h3><span class="card-title-number">3</span>
        <br><span class="card-title-font">I udvikler hjemmesider for offentlige organisationer</span></h3>
        <p class="my-4">Hvis jeres kundegruppe omfatter offentlige virksomheder, vil der blive stillet krav til tilgængeligheden af jeres produkt. 
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 card border-0">
      <div class="card-body">
        <h3>
          <span class="card-title-number">4</span>
          <br>
          <span class="card-title-font">I udvikler hjemmesider for udenlandske virksomheder</span>
        </h3>
        <p class="my-4">I USA stilles der allerede nu krav til tilgængeligheden af hjemmesider for både offentlige og private virksomheder.</p>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 card border-0">
      <div class="card-body">
        <h3>
          <span class="card-title-number">5</span>
          <br>
          <span class="card-title-font">Jeres firma er omfattet webtilgængelighedsloven</span>
        </h3>
        <p class="my-4">Hvis I arbejder med e-handel, consumer banking, e-bøger, kommunikationstjenester eller streaming af multimedieindhold, så er I højst sandsynligt omfattet af den europæiske lov for webtilgængelighed, der træder i kraft 28. juni 2025.</p>
      </div>
    </div>
  </div>
</div>

<!--Sektion 4 img/p Vi er førende i DK -->
<div class="container py-5">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-7">
      <h2>Vi er førende tilgængelighedseksperter i Danmark</h2>
      <p>Vi har over 20 års erfaring med webtilgængelighed, og vi er ikke bange for at sige, at vi er de bedste i Danmark til det, vi laver. Siden 2021 har vi været leverandør for Digitaliseringsstyrelsen, hvor vi varetager tilgængelighedsmonitoreringer af offentlige hjemmesider og apps i hele Danmark. Vores erfaring taler for sig selv, da vi arbejder med alt fra tech-giganter, internationale banker og digitale bureauer til mindre private virksomheder og kommuner.</p>
    </div>
    <div class="col-md-5 px-5">
      <img src="/img/SE.jpg" class="img-fluid" alt="Billede af Anne, Katrine og Stein Erik ved en computer"></img>
    </div>
  </div>
</div>

<!--Sektion 5 Vi leverer-->
<div class="container py-5">
  <h2 class="fullwidth">Vi leverer anerkendt kvalitet</h2>
  <div class="card-group">
    <div class="card border-0">
      <div class="card-body">
        <i class="bi bi-easel" style="font-size: 4rem;" alt=""></i>
        <h3>
          <span class="card-title">Workshops</span>
        </h3> 
        <p>Få undervisning i tilgængelighed</p>
      </div>
    </div>
    <div class="card border-0">
      <div class="card-body">
        <i class="bi bi-list-check" style="font-size: 4rem;" alt=""></i>
        <h3>
          <span class="card-title">WCAG testrapport</span>
        </h3>
        <p>Modtag en testrapport med detaljeret fejlbeskrivelser</p>
      </div>
    </div>
    <div class="card border-0">
      <div class="card-body">
        <i class="bi bi-pencil-square" style="font-size: 4rem;" alt=""></i>
        <h3>
          <span class="card-title">Design reviews</span>
        </h3>
        <p>Spar tid og få et design review af dine UI skitser</p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card border-0">
      <div class="card-body">
        <i class="bi bi-people" style="font-size: 4rem;" alt=""></i>
        <h3>
          <span class="card-title">Collaborative test sessions </span>
        </h3>
        <p>Vær med til at teste og lær undervejs</p>
      </div>
    </div>
    <div class="card border-0">
      <div class="card-body">
        <i class="bi bi-shield-check" style="font-size: 4rem;" alt=""></i>
        <h3>
          <span class="card-title">Ekspertrådgivning som er til at forstå</span>
        </h3>
        <p>Få stratetisk rådgivning når det passer dig</p>
      </div>
    </div>
    <div class="card border-0">
      <div class="card-body">
        <i class="bi bi-calendar-event" style="font-size: 4rem;" alt=""></i>
        <h3>
          <span class="card-title">Et langvarigt samarbejde</span>
        </h3>
        <p>Med et time-klippekort hos os står vi altid klar til at løse dine udfordringer</p>
      </div>
    </div>
  </div>
</div>

<!--Sektion 6 img/p Hvad laver vi  -->
<div class="container py-5">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-7">
      <h2>Perfekt blanding af teori, tips, tests og røverhistorier</h2>
      <p>Vores vigtigste opgave er at sikre, at I er klædt godt på til at varetage tilgængelighedsopgaver og sørge for, at jeres hjemmeside eller app kan bruges af alle personer. Vi arbejder på en måde, hvor vi i fællesskab skræddersyer et forløb, hvor vi tager udgangspunkt i jeres hjemmeside eller app for at sikre, at vi får arbejdet de områder, som I finder udfordrende ved webtilgængelighed.</p>
      </p>
    </div>
    <div class="col-md-5 px-5">
      <img src="/img/DR.jpeg" class="img-fluid" alt="Billede af Anne, Katrine og Stein Erik ved en computer">
    </div>
  </div>
</div>

<!--Sektion 7 Tilgængelighed giver et hav af fordele -->
<div class="container py-5">
  <h2 class="fullwidth">Tilgængelighed giver et hav af fordele</h2>
  <div class="card-group">
    <div class="card border-0">
      <div class="card-body">
        <i class="bi bi-people" style="font-size: 4rem;" alt=""></i>
        <h3 class="card-title-font">Flere personer bruger din hjemmeside eller app</h3> 
        <p>Ved at sikre tilgængelighed på din hjemmeside eller app, øges webstedets potentielle målgruppe med 20%, hvilket kan føre til flere besøg, konverteringer og dermed mere indtægt.</p>     
      </div>
    </div>
    <div class="card border-0">
      <div class="card-body">
        <i class="bi bi-person-check" style="font-size: 4rem;" alt=""></i>
        <h3 class="card-title-font">Større brugertilfredshed</h3>
        <p>Når alle, både personer med og uden et handicap, kan navigere effektivt og ubesværet på din hjemmeside eller app, skaber det en bedre brugeroplevelse.</p>
      </div>
    </div>
    <div class="card border-0">
      <div class="card-body">
        <i class="bi bi-book" style="font-size: 4rem;" alt=""></i>
        <h3 class="card-title-font">Man overholder loven</h3> 
        <p>Da yderligere lovgivning inden for webtilgængelighed på både det offentlige og det private område er undervejs, er det en god ide at starte arbejdet allerede i dag.</p> 
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card border-0">
      <div class="card-body">
        <i class="bi bi-google" style="font-size: 4rem;" alt=""></i>
        <h3 class="card-title-font">Få en bedre placering på Google</h3> 
        <p>Der er en påvist sammenhæng mellem hvor tilgængelig ens digitale løsning er, og hvordan den rangerer på Google, da tilgængelige hjemmesider kan hjælpe med at forbedre SEO.</p> 
      </div>
    </div>
    <div class="card border-0">
      <div class="card-body">
        <i class="bi bi-megaphone" style="font-size: 4rem;" alt=""></i>
        <h3 class="card-title-font">Styrk dit brand</h3> 
        <p>Benyt muligheden for at brande dig på, at alle mennesker kan benytte din hjemmeside. Fremstå som en virksomhed, der tager et samfundsmæssigt ansvar, hvilket kan føre til positive associeringer til dit brand, såsom inklusion og innovation.</p> 
      </div>
    </div>
    <div class="card border-0">
      <div class="card-body">
        <i class="bi bi-arrow-up-circle" style="font-size: 4rem;" alt=""></i>
        <h3 class="card-title-font">Øget loyalitet</h3> 
        <p>Hjemmesider eller apps, som leverer gode brugeroplevelser, er typisk dem, som mennesker vender tilbage til igen og igen.</p> 
      </div>
    </div>
  </div>
</div>

  <!--Sektion 8 Hvad siger loven  p/img -->
<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-5 pr-5">
      <img src="/img/Section 7 Image.png" class="img-fluid" alt="Billede af Anne, Katrine og Stein Erik ved en computer"></img>
    </div>
    <div class="col-md-7">
      <h2>Det siger loven</h2>
      <p>Loven omfatter de områder, der er vigtigst for at sikre alle lige deltagelse i samfundet. Dette omfatter tjenester såsom e-handel, banktjenester, streamingtjenester, e-bøger, rejseinformation og telefontjenester. Små firmaer med mindre end 10 ansatte og en årlig omsætning under 2 mio. euro er ikke forpligtede til at overholde loven – men det anbefales selvfølgelig. </p>
      <p>Hvis et firma er omfattet af loven, skal de basalt set sørge for, at deres tjenester og produkter lever op til alle relevante kriterier fra WCAG 2.1 på niveau A og AA.</p>
    </div>
  </div>
</div>

<!--Sektion 9 p/img  -->
<div class="container py-5">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-7">
      <h2>Vi arbejder tæt med personer med handicap</h2>
      <p>Om man bruger stemmestyring, tastatur eller andre hjælpemidler til at navigerer på hjemmesider, har vi praktisk erfaring med, hvordan man skaber en god brugeroplevelse personer, som benytter hjælpemidler eller kompenserende strategier i hverdagen. Vi har en bred indsigt i, hvordan personer med forskellige typer funktionsnedsættelser ønsker at bruge hjemmesider og apps.</p>
    </div>
    <div class="col-md-5 px-5">
      <img src="/img/people-group-drawing.jpg" class="img-fluid" alt="Billede af Anne, Katrine og Stein Erik ved en computer"></img>
    </div>
  </div>
</div>

<!--Sektion 8 Hvad siger loven  p/img -->
<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-5 pr-5">
      <img src="/img/eye-ear-mouth.jpg" class="img-fluid" alt="Billede af Anne, Katrine og Stein Erik ved en computer"></img>
    </div>
    <div class="col-md-7">
      <h2>Vi læser det med småt, så du ikke behøves </h2>
      <p>Vi kender lovgivningen om webtilgængelighed som vores egen baglomme, og vi kan hjælpe med at omsætte kringlede klausuler til praktisk handling. Derudover er vi aktive i standardiseringsarbejdet inden for digital tilgængelighed, såsom Dansk Standard, W3C eller danske oversættelser af WCAG.</p>
    </div>
  </div>
</div>