---
layout: layouts/page.njk
title: Om os
templateClass: tmpl-more
eleventyNavigation:
  key: Om os
  order: 4
---
<p>Inklusio er en konsulentvirksomhed, der rådgiver om tilgængelighed til web og mobil. Vi gør tilgængelighed overskueligt og nemt – fra opstart af proces til test af færdig løsning.</p>

<div class="container py-5">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-7">
      <h2>Stein Erik Skotkjerra</h2>
      <p>CEO &amp; Grundlægger</p>
      <p>Stein Erik er en passioneret forkæmper for en inkluderende digital verden. Med udgangspunkt i en menneskecentreret tilgang har han arbejdet som rådgiver, underviser og konsulent inden for it og digitalisering i 20 år.</p>
      <p>Stein Erik er en passioneret forkæmper for en inkluderende digital verden. Med udgangspunkt i en menneskecentreret tilgang har han arbejdet som rådgiver, underviser og konsulent inden for it og digitalisering i 20 år.</p>
      <h4>Kontakt Stein Erik</h4>
      <ul>
        <li>Mail: <a href="mailto:ses@inklusio.dk">ses@inklusio.dk</a></li>
        <li>Telefon: <a href="tel:26343455">26 34 34 55</a></li>
        <li>Se <a href="https://www.linkedin.com/in/skotkjerra/">Stein Erik Skotkjerra på LinkedIn</a></li>
      </ul>
    </div>
    <div class="col-md-5 px-5">
      <img src="/img/SteinE.jpg" class="img-fluid" alt="Stein Erik Skotkjerra">
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-7">
      <h2>Anne Thyme Nørregaard</h2>
      <p>Seniorkonsulent i Webtilgængelighed</p>
      <p>Anne er Cand.it med en specialisering i usability og tilgængelighed og har arbejdet med tilgængelighed siden 2012. Med sig har hun erfaring fra både konsulentverdenen og udvikling af automatiske tilgængelighedsværktøjer.</p>
      <p>Hun har arbejdet med alt fra manuel tilgængelighedstest til rådgivning og undervisning, samt arbejdet med tilgængelighedsstandarder som aktivt medlem af <a href="https://www.w3.org/" target="_blank">W3C</a>.
      <p>Hun kombinerer erfaringer og viden fra UX, tilgængelighed og brugercentrerede udviklingsmetoder for at skabe inkluderende brugeroplevelser.</p>
      
      <h4>Kontakt Anne</h4>
      <ul>
        <li>Mail: <a href="mailto:atn@inklusio.dk">atn@inklusio.dk</a></li>
        <li>Se <a href="https://www.linkedin.com/in/annethyme/">Anne Thyme Nørregaard på LinkedIn</a></li>
      </ul>
    </div>
    <div class="col-md-5 px-5">
      <img src="/img/Anne.jpg" class="img-fluid" alt="Anne Thyme Nørregaard">
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-7">
      <h2>Mai Hartmann</h2>
      <p>Seniorkonsulent i Webtilgængelighed</p>
      <p>Mai har en stor del af sin erfaring fra stillinger som Digital Accessibility Specialist og som UX designer. Hun er uddannet blandt andet fra IT-universitetet i København med en Master’s degree i Digital Design and Interactive Technologies.</p>
      <p>Hun er blandt de få, der kender standarder og lovgivning på webtilgængelighedsområdet til bunds. Kunder vil møde Mai Hartmann på alle typer projekter og med særligt fokus på uddannelse, vejledning og konkret hjælp til at forbedre tilgængelighed i design og kode.</p>
      <p>Sideløbende med jobbet hos Inklusio underviser Mai Hartmann bachelorstuderende på Digital Design and Interactive Technologies på IT-universitetet, og herfra har hun erfaring med at formidle kompleks viden og holde sin faglighed opdateret.</p>
      
      <h4>Kontakt Mai</h4>
      <ul>
          <li>Mail: <a href="mailto:mbh@inklusio.dk">mbh@inklusio.dk</a></li>
          <li>Se <a href="https://www.linkedin.com/in/mai-hartmann/">Mai Hartmann på LinkedIn</a></li>
      </ul>
    </div>
    <div class="col-md-5 px-5">
      <img src="/img/mai-hartmann.jpg" class="img-fluid" alt="Mai Hartmann">
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-7">
      <h2>Katrine Gregersen</h2>
      <p>Konsulent i Webtilgængelighed</p>
      <p>Med sin kandidat og specialisering i menneske-computer interaktion, bidrager Katrine til at evaluere tilgængelighed på digitale løsninger og rådgive virksomheder i, hvordan de kan gøre deres hjemmesider og apps til mobil inkluderende for alle. 
  Hun har fra udlandet erfaring med at udvikle digitale løsninger, som er baseret på en god forståelse af slutbrugerne og deres behov.</p>
      <h4>Kontakt Katrine</h4>
      <ul>
        <li>Mail: <a href="mailto:kgr@inklusio.dk">kgr@inklusio.dk</a></li>
        <li>Se <a href="https://www.linkedin.com/in/katrine-theilmann-gregersen/">Katrine Gregersen på LinkedIn</a></li>
      </ul>
    </div>
    <div class="col-md-5 px-5">
      <img src="/img/kat.jpg" class="img-fluid" alt="Katrine Gregersen">
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-7">
      <h2>Linda Thyme</h2>
      <p>Akademisk medarbejderder</p>
      <p>Linda er stærkt passioneret for samfundsgavnlige forretningsmodeller og kommunikation, herunder hvordan vi bedst muligt forstår hinandens perspektiver og indtænker disse i helhedsorienterede løsninger. Hun tager sig blandt andet af kommunikationsopgaver og vurderer, om tilgængelighedserklæringer er i overensstemmelse med webtilgængelighedsloven.</p>
      <h4>Kontakt Linda</h4>
      <ul>
          <li>Mail: <a href="mailto:lth@inklusio.dk">lth@inklusio.dk</a></li>
          <li>Se <a href="https://www.linkedin.com/in/linda-thyme/">Linda Thyme på LinkedIn</a></li>
      </ul>
    </div>
    <div class="col-md-5 px-5">
      <img src="/img/linda.jpg" class="img-fluid" alt="Linda Thyme">
    </div>
  </div>
  </div>

  <div class="container py-5">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-7">
      <h2>Pia Christensen Bang</h2>
      <p>Kommunikationskonsulent</p>
      <p>Pia er en inkarneret kommunikatør, som brænder for at finde og formidle den gode historie. Hun hjælper med at udarbejde og implementere Inklusios kommunikationsstrategi og -planer.</p>
      <p>Pia er også knivskarp til LinkedIn, og har derfor også hovedansvaret for Inklusios LinkedIn profil.</p>
      <h4>Kontakt Pia</h4>
      <ul>
        <li>Mail: <a href="mailto:pcb@inklusio.dk">pcb@inklusio.dk</a></li>
        <li>Se <a href="https://www.linkedin.com/in/piacbang/">Pia Christensen Bang på LinkedIn</a></li>
      </ul>
    </div>
    <div class="col-md-5 px-5">
      <img src="/img/pia.jpg" class="img-fluid" alt="Pia Christensen Bang">
    </div>
  </div>
</div>