---
pagination:
  data: collections.all
  size: 20
  alias: entries
layout: layouts/home.njk
permalink: /sv/page-list/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
---

<div class="container my-5 px-2 px-md-2 px-lg-2 px-xl-4 px-xxxl-4">
  <table>
    <thead>
      <th>URL</th>
      <th>Page Title</th>
    </thead>
    <tbody>
      {%- for entry in entries | urlLanguageFilter(page.lang) %}
      <tr>
        <td>
          <a href="{{ entry.url }}"
            ><code>{{ entry.url }}</code></a
          >
        </td>
        <td>{{ entry.data.title }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
