---
layout: layouts/base.njk
templateClass: tmpl-contact
---
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 offset-xl-1">
        <h1>{{ title }}</h1>
        {{ content | safe }}
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-5">
        <h2>Book et møde</h2>
        <div class="calendly-inline-widget" data-url="https://calendly.com/skotkjerra/letsconnect?hide_event_type_details=1&text_color=082840&primary_color=28a4a4" style="min-width:320px;height:630px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    </div>
</div>
