    <footer class="site-footer">
        <div class="container-xxl">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12  col-lg-4 col-xl-4 ">
                    <p class="my-3">
                        Inklusio ApS
                    </p>
                    <p class="my-3">
                        CA Olesensgade 4<br />
                        9000 Aalborg<br />
                        Denmark <br />
                    </p>

                </div>
                <div class="col-12 col-sm-12 col-md-12  col-lg-4 col-xl-4">
                    <p class="my-3">
                        <span id="phoneDesc">Telefon:</span> <a aria-describedby="phoneDesc" href="tel:+4526343455" class="text-white text-decoration-underline">+45 26 34 34 55</a>
                    </p>
                    <p class="my-3">
                        Mail: ses@inklusio.dk
                    </p>
                    <p class="my-3">
                        CVR: 41066784
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-12  col-lg-4 col-xl-4 ">
                    <p class="my-3">
                        <a href="https://linkedin.com/company/inklusio"class="text-white text-decoration-underline">Følg Inklusio på LinkedIn</a>
                    </p>
                    <p class="my-3">
                        <a href="https://inklusio.dk/persondata/" class="text-white text-decoration-underline">Privatlivspolitik</a></p>
                    </p>
                </div>
            </div>
        </div>
    </footer>
