{%- from "components/language-switcher/macro.njk" import languageswitcher -%}

{% set navigationData = translations[page.lang].navigation %}

<header class="site-header">
  <a class="skiptomain" href="#main">{{ translations[page.lang].keywords.skip_to_main_content }}</a>
  <div class="container py-2">
    <nav class="navbar navbar-expand-lg navbar-dark row align-items-center" aria-label="Top menu">
      <a class="navbar-brand" href="{{navigationData.home.url}}">
        <div class="mr-4 mb-2" style="width: 150px; height: 22px;">
          {% image 'img/logo.png', "Inklusio logo", "400" %}
        </div>
      </a>

      <div class="d-flex flex-row ml-auto ">
        <!-- Mobile Language Switcher -->
        <div class="d-block d-lg-none">
          <div class="col text-center mt-2">
            <div class="dropdown mt-n1">
              {{
                languageswitcher({
                  dropdown_id: "languageDropdownMobile",
                  page: page,
                  languages: languages,
                  translations: translations
                })
              }}
            </div>
          </div>
        </div>
  
        <button aria-label="Menu" class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapsingNavbar4">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="navbar-collapse collapse" id="collapsingNavbar4">
        <div class="navbar-nav mt-1">
          {% for _, navObj in navigationData %}
            <a class="nav-item nav-link text-decoration-underline-hover text-white {% if navObj.url == page.url %} text-decoration-underline {% endif %} mr-4 mr-lg-2 mr-xl-4" {% if navObj.url == page.url %} aria-current="page"{% endif %} href="{{ navObj.url }}">{{ navObj.text }}</a>
          {% endfor %}
        </div>

        <!-- Desktop Language Switcher -->
        <div class="d-none d-lg-block ml-auto pr-xxxl-0">
          <div class="col text-center mt-2">
            <div class="dropdown">
              {{
                languageswitcher({
                  dropdown_id: "languageDropdownDesktop",
                  languages: languages,
                  translations: translations,
                  page: page
                })
              }}
            </div>
          </div>
        </div>

      </div>
    </nav>
  </div>
</header>
