---
layout: layouts/base.njk
templateClass: tmpl-page
---

<div class="container py-4 px-2 py-md-3 px-md-2 py-lg-4 px-lg-2 px-xl-4">
  {% if title %}
  <h1 class="">{{ title }}</h1>
  {% endif %}
</div>
{{ content | safe }}
