---
layout: layouts/base.njk
templateClass: tmpl-post
---
        <div id="Article-row" class="row m-0 pl-2 pr-2">

            <div id="Article-center" class=" col-md-10 offset-md-1 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1">
                <h1 class="mt-4"> {{ title }} </h1>
                {% if !postslist %}<p>Skrevet af {{ author }} den <time datetime="{{ date|htmlDateString }}">{{ page.date|readableDate }}</time></p>{% endif %}
{{ content | safe }}

            </div>        
            
        </div>
