---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1 class="mt-4"> {{ title }} </h1>
{% if author or date %}<p>Skrevet{% if author  %} af {{ author }}{% endif %}{% if date %} den <time datetime="{{ date|htmlDateString }}">{{ page.date|readableDate }}{% endif %}</time></p>{% endif %}
{{ content | safe }}

