---
layout: layouts/base.njk
templateClass: tmpl-page
---
 {% if title %}<h1>{{ title }}</h1>{% endif %}
{{ content | safe }}
        <a href="Mailto:"info@inklusio.dk" class="bg-primary btn-primary p-3 mt-auto rounded text-decoration-none">Få et tilbud</a>